@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&&display=swap');

* {
    font-family: 'Raleway';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("pattern.png");
    padding: 20px 0;
}

.container {
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.panel {
    background-color: #FFBE00;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel p {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.panel1 p {
    font-size: 24px;
    margin: 0;
    text-align: center;
}
.panel img {
    width: 70%;
    max-width: 200px;
}

form {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid #FFBE00;
    border-top: none;
    display: flex;
    flex-direction: column;
}
.panel1 {
    background-color: #FFBE00;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2000px;
}
.panel1 img {
    width: 70%;
    max-width: 200px;
}
.panel ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
ul{
    color: aqua;
    list-style-type: none;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
a{
    text-align: center;
}
h5{
    border-radius: 5px;
}
a:hover{
    background-color: aqua;
}
.n:hover{
    background-color: aqua;
}
a{
    transition: 1s;
    border-radius: 5px;
}
form{
    text-align: center;
}
img:hover{
    transform: scale(1.2);

}